:root {
    --dark-color: #002433;
    --light-color: #14ff85;
  }

  * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  
    color: inherit;
    background-color: inherit;
  }

  body {
    background-color: #fff;
  }

  .forgot-password-wrapper {
    max-width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 50px; */
    padding: 0 2em;
    border-radius: 25px;
    box-shadow: 0 0 10px var(--light-color);
    -moz-box-shadow: 0 0 10px var(--light-color);
    -webkit-box-shadow: 0 0 10px var(--light-color);
    -o-box-shadow: 0 0 10px var(--light-color);
    overflow: hidden;
    color: #ffffff;
    background: var(--dark-color);
  }

  .forgot-password-wrapper input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
  }

  .forgot-password-wrapper h2 {
      text-align: center;
      margin: 2rem 0;
  }


  .forgot-password-wrapper input:active {
    background: var(--light-color);
  }

  .forgot-password-wrapper input.submit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: var(--dark-color);
    padding: 8px 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    background-color: var(--light-color);
  }
  .forgot-password-wrapper input.submit:hover {
    box-shadow: 0 0 5px var(--light-color);
    -moz-box-shadow: 0 0 5px var(--light-color);
    -webkit-box-shadow: 0 0 5px var(--light-color);
    -o-box-shadow: 0 0 5px var(--light-color);
  }


  @media screen and (max-width: 1200px) {
    .forgot-password-wrapper {
      max-width: 35%;
    }
  }
  @media screen and (max-width: 1080px) {
    .forgot-password-wrapper {
      max-width: 50%;
    }
  }
  @media screen and (max-width: 760px) {
    .forgot-password-wrapper {
      max-width: 70%;
    }
  }

  @media screen and (max-width: 576px) {
    .forgot-password-wrapper {
      max-width: 90%;
    }
  }