:root {
    --dark-color: #002433;
    --light-color: #14ff85;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

body{
  z-index: -3;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

.payment-wrapper{
  width: 100%;
  padding: 10px;
}

.Payment-container{
  max-width: 500px;
  height: auto;
  margin: 0px auto;
  background:var(--dark-color);
  padding: 20px 40px 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--light-color);
  -moz-box-shadow: 0 0 10px var(--light-color);
  -webkit-box-shadow: 0 0 10px var(--light-color);
  -o-box-shadow: 0 0 10px var(--light-color);

  margin-top: 40px;
  margin-bottom: 40px;
}

.Payment-title{
  color:var(--light-color);
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: inherit;
}

.card-details-container  {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-details {

  color: var(--light-color);
  margin:0;
  font-size: 1.3rem;
}

.card-types {
  text-align: right;
}

.card-types img {
  margin-left: 2px;
}

.input-form{
  margin-bottom: 20px;
}

.input-form .label{
	  display: block;
    font-size: 1em;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.input-form .items{
  margin-bottom: 20px;
}

.section-1 .items .input,
.section-2 .items .input,
.section-3 .items .input, select,
.section-4 .items .input
{
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: var(--light-color);
    border-radius: 3px;
}

.section-1 input::-webkit-outer-spin-button,
.section-1 input::-webkit-inner-spin-button,
.section-2 input::-webkit-outer-spin-button,
.section-2 input::-webkit-inner-spin-button,
.section-3 input::-webkit-outer-spin-button,
.section-3 input::-webkit-inner-spin-button,
.section-4 input::-webkit-outer-spin-button,
.section-4 input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.section-1 input[type=number],
.section-2 input[type=number],
.section-3 input[type=number],
.section-4 input[type=number] {
  -moz-appearance: textfield;
}

 .input-form .section-3{
  display: flex;
  justify-content: space-between;
} 

.input-form .section-3 select {
  width: 46%;
}

.input-form .section-3 select:first-of-type {
  margin-right: 8%;
}

.input-form .section-3 select option {
  background-color: var(--dark-color);
}

.input-form .section-3 .items{
   width: 48%;
}

.btn-checkout{
  width: 100%;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
    letter-spacing: 2px;
    font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: var(--dark-color);
  border: none;
  border-radius: 20px;
  background-color: var(--light-color);
}

.cvc{
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.cvc .tooltip{
  color: #d4d4d4;
  font-size:10px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align:center;
  cursor: pointer;
}

.cvc .cvc-img{
  position: absolute;
  top: -250%;
  right: 0;
  background: #5f6c7d;
  padding: 12px;
  border-radius: 5px;
  display: none;
}

.cvc .cvc-img img{
  width: 100px;
  height: auto;
  display: block;
}

.cvc:hover .cvc-img{
  display: block;
}

@media screen and (max-width: 460px){
  .input-form .section-3{
    flex-direction: column;
  }
  .input-form .section-3 .items{
     width: 100%;
  }
  .input-form .items{
    margin-bottom: 10px;
  }

  .input-form{
    margin-bottom: 15px;
  }
  .title{
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}